<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Log in/register</title>
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>

<body>

  <div id="topper" class="container">
    <div class="navbar">
      <div class="logo">
        <a href="/index"><img th:src="@{/img/bookstore.png}" width="125px"></a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Books</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/login">Sign in/ Register</a></li>
        </ul>
      </nav>
      <a href="/cart"><img th:src="@{/img/cart.png}" width="25px" height="25px"></a>
    </div>
  </div>

  <!------Login/ Log out page------->
  <div class="account-page">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <img th:src="@{/img/bookshelves.svg}" width="100%">
        </div>
        <div class="col-2">
          <div class="form-container">
            <div class="form-btn">
              <span id="switchLoginForm">Log in</span>
              <span id="switchRegisterForm">Register</span>
              <hr id="Indicator">
            </div>
            
            <div id="errors" th:if="${(param.wrongcredential != null) and (param.wrongcredential[0] == 'true')}">
    			<span style="color:red;"> incorrect credentials!</span>
  			</div>
            
            <form id="LoginForm" action="/api/account/userlogin" method="POST">
              <input type="text" name="email" value="EmilyClock@gmail.com" placeholder="username">
              <input type="password" name="password" value="1166254" placeholder="password">
              <button type="submit" class="btn"  name="login" value="login" id="login">Log in</button>
              <a href="">Forgot password?</a>
            </form>

            <form id="RegForm" action="/api/account/usercreate" method="POST">
              <input type="email" name="email" placeholder="testuser@gmail.com">
              <input type="password" name="password" placeholder="123456789">
              <button type="submit" class="btn">Register</button>
              <a href="">Forgot password?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <!------freatured product------->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Search</h3>
          <p>Need anybooks quickly? search and get the best books at bookstore & Accessories</p><br />
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="footer-col-2">
          <img th:src="@{/img/bookstore.png}">
          <p>Search more books and get exclusive offers.The best books and more.</p>
        </div>
        <div class="footer-col-3">
          <h3>Contact us</h3>
          <ul>
            <li>Help</li>
            <li>Contact us</li>
            <li>Feedback</li>
            <li>Privacy notice</li>
          </ul>
        </div>
        <div class="footer-col-4">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        Copyright 2020 - EECS4413 Group member: Yuanfen Gu, Yikun Peng, Abdulhkem klif
      </p>
    </div>
  </div>

  <!------js for toggle Form------->


</body>

</html>