<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Login</title>
	<link href="css/index.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
	<form action="" onsubmit="return validate();" method="post">
	<FIELDSET>
		<center>
			<h1>Login</h1>
				<TABLE>
					<tr>
						<td><label for="username">Username: </label></td>
						<div>
							<td><input id='username' name='username' /></td>
						</div>
					</tr>
			
					<tr>
						<td><label for="password">Password: </label></td>
						<div>
							<td><input id='password' name='password' type="password" /></td>
						</div>
					</tr>

					<tr>
						<td><button type='submit' value="true" id='loginButton' name='loginButton'>Log in</button></td>		
						
					</tr>
					
				</TABLE>
				
			</center>
		</FIELDSET>
	</form>
	

</body>


</html>