<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shipping</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/checkout.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/checkout.js}"></script>
</head>


<body>

    <div class="topnav">
        <a href="/" class="logo">E-BookShop</a>
        <a href="/checkout"class="active">Checkout</a>
        <a href="/cart">Cart</a>
    </div>

    <div class="NotificationDiv" id="notify">
        <i class="fa fa-check" id="notificationLogo"></i>
        <div id="notificationText"><a>Product added to cart</a></div>
    </div>

    <div class="row" id="inputForm">
        <div class="col-75" id="savedAddressDiv">
            <div class="container">


                <div class="row">
                    <div class="col-50">
                        <h3>Saved Address</h3>
                        <div id="savedAddressLoadingStatus">Getting saved address...</div>
                        <ul id="savedAddressList">
                        </ul>
                    </div>


                </div>
                
                <input value="New Address" id="newAddress" class="btn">

            </div>
        </div>
        <div class="col-75" id="shippingDiv">
            <input id="savedAddress" value="Saved Address" class="btn">
            <div class="container">


                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="First Name">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="customer@eshop.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" name="address" placeholder="Address 1">
                        <label for="city"><i class="fa fa-institution"></i> City</label>
                        <input type="text" id="city" name="city" placeholder="City">

                        <div class="row">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="State">
                            </div>
                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="Postal">
                            </div>
                        </div>
                    </div>

                    
                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input id="submitShipping" value="Continue to checkout" addressId="new" class="btn">

            </div>
        </div>

        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i>
                        <b th:text="${cart.getItems().size()}">4</b>
                    </span>
                </h4>
                <div th:each="cartItem : ${cart.getItems()}">
                    <p><a href="#" th:text="${cartItem.itemLabel}"> </a><span class="price" th:text="${cartItem.itemPrice}">$15</span></p>
                </div>
                <hr>
                <p>Total <span class="price" style="color:black" th:text="${cart.getTotal()}"><b>$30</b></span></p>
            </div>
        </div>
    </div>
    <div id="checkoutInfo" data-th-attr="data-guest=${isGuestCheckout},data-customerEmail=${customerEmail},data-checkoutId=${checkoutId}"></div>
</body>

</html>