<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order result</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/checkout.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/order-result.js}"></script>
</head>


<body>

    <div class="topnav">
        <a class="logo">E-BookShop</a>
        <a class="active" href="#checkout">Checkout</a>
        <a href="#cart">Cart</a>
    </div>

</body>

</html>